body {
    text-align: center;
}

.container {
    display: flex;
    margin-left: 600px;
}

.heart {
    font-size: 150px;
    color: #e00;
    animation: beat .25s infinite alternate;
    transform-origin: center;
    margin-top: 200px;
}

@keyframes beat {
    to {transform: scale(1.4) ;}
}

.heart-two {
    font-size: 150px;
    color: #000;
    animation: beat .25s infinite alternate;
    transform-origin: center;
    margin-top: 200px;
    margin-left: 50px;
}

@keyframes beat {
    to {transform: scale(1.4) ;}
}